<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bookType">
            <h2><span jhiTranslate="bookApp.bookType.detail.title">Book Type</span> {{ bookType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookApp.bookType.name" [ngbTooltip]="'bookApp.bookType.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ bookType.name }}</span>
                </dd>
                <dt><span jhiTranslate="bookApp.bookType.remark" [ngbTooltip]="'bookApp.bookType.help.remark' | translate">Remark</span></dt>
                <dd>
                    <span>{{ bookType.remark }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book-type', bookType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
