<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-book-heading" jhiTranslate="bookApp.book.home.createOrEditLabel">Create or edit a Book</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookApp.book.name" for="field_name" [ngbTooltip]="'bookApp.book.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookApp.book.remark" for="field_remark" [ngbTooltip]="'bookApp.book.help.remark' | translate">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                           formControlName="remark"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookApp.book.pic" for="field_pic" [ngbTooltip]="'bookApp.book.help.pic' | translate">Pic</label>
                    <div>
                        <div *ngIf="editForm.get('pic')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('picContentType')!.value, editForm.get('pic')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('picContentType')!.value }}, {{ byteSize(editForm.get('pic')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({pic: null});editForm.patchValue({picContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_pic" (change)="setFileData($event, 'pic', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="pic" id="field_pic"
                           formControlName="pic"/>
                    <input type="hidden" class="form-control" name="picContentType" id="field_picContentType"
                           formControlName="picContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookApp.book.createTime" for="field_createTime" [ngbTooltip]="'bookApp.book.help.createTime' | translate">Create Time</label>
                    <div class="input-group">
                        <input id="field_createTime" type="text" class="form-control" name="createTime" ngbDatepicker #createTimeDp="ngbDatepicker" formControlName="createTime"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookApp.book.bookStatus" for="field_bookStatus" [ngbTooltip]="'bookApp.book.help.bookStatus' | translate">Book Status</label>
                    <select class="form-control" name="bookStatus" formControlName="bookStatus" id="field_bookStatus">
                        <option value="UP">{{ 'bookApp.BookStatus.UP' | translate }}</option>
                        <option value="DOWN">{{ 'bookApp.BookStatus.DOWN' | translate }}</option>
                        <option value="WAIT">{{ 'bookApp.BookStatus.WAIT' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('bookStatus')!.invalid && (editForm.get('bookStatus')!.dirty || editForm.get('bookStatus')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bookStatus')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookApp.book.bookType" for="field_bookType">Book Type</label>
                    <select class="form-control" id="field_bookType" name="bookType" formControlName="bookTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookTypeOption.id" *ngFor="let bookTypeOption of booktypes; trackBy: trackById">{{ bookTypeOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
